/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;400;500;600;700;800;900&display=swap');



/* default style removal */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */

body {
    background-color: #E8E7E8;
    min-height: 100vh;
    color: #434443;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orange-text {
    color: #F49C1F;
}

/* Main content */



/* Hero section */

#hero {
    color: white;
    width: 1440px;
    height: 629px;
    overflow: hidden;
}

#hero-img {
    background: url("../images/hero.jpg") no-repeat center -300px/cover;
    width: 1440px;
    height: 629px;
    overflow: hidden;
    position: relative;

}

#hero-img:after {
    content: "";
    position: absolute;
    top: 89%;
    left: 0;
    height: 100%;
    width: 110%;
    background: #E8E7E8;
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    transform: rotate(-4deg);
}

#hero-text {
    text-transform: uppercase;
    color: white;
    font-family: "Saira Condensed";
    font-size: 110px;
    font-style: normal;
    font-weight: 700;
    line-height: 90px;
    position: absolute;
    top: 204px;
    margin-left: 160px;
}